<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <!--<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/library?autoReconnect=false</property>-->
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/market2?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">admin</property>
    <!--<property name="hibernate.connection.password">admin</property>-->
    <property name="hbm2ddl.auto">create</property>
    <property name="show_sql">true</property>
    <mapping class="pl.moja.biblioteczka.database.model.Author"></mapping>
    <mapping class="pl.moja.biblioteczka.database.model.Category"/>
</session-factory>
</hibernate-configuration>